.bg2{
 background-color: #F5E9E0;
}




 /* nav share style */
 .navspan{
  color: deeppink;
  font-size: 35px;
 }

.dark2{
  color: #474747;
}

.button-pri{
  background-color: deeppink;
  font-weight: bold;
  color: white;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  
}

.navtitale{
  font-weight: 800;
  font-size: 42px;
}

.navfont {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  }

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}


nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: flex;
  margin-right:45px ;

}

nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/* banner style */
.banner-greetings{
  font-size: 40px;
  font-weight: 600px;
}
.banner-titale{
  font-size: 78px;
  font-weight: 600px;
}
.banner-discription{
  font-size: 14px;
  font-weight: 600px;
}
.banner-profile-pic{
  width: 485px;
  height: 427px;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 28px 0 150px;
}
.bannner-content{
  width: 453px ;
  height: 266px ;
}

/* bacground style */
.header{
  background-image: url("../images/developer.png"), url("../images/header_bg.png"); 
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  /* margin-top: 0px; */
}

/* section style */
.section-tital{
  color: #181818;
  font-size: 24px ;
  font-weight: bold;
}

.about-description{
  font-size: 12px;
  color: #757575;
}
.about{
  border-radius: 8px;
  padding: 130px 150px;
  text-align: center;
 
}


/* main style */
main{
  max-width: 936px;
  margin: 0 auto;
  
}
main section{
  margin-top: 130px;
}

.about-description2{
  font-weight: 700;
}
.about-items{
  display: flex;
  justify-content: space-around;
  
}

/* what i do style */

.section-description{
text-align: center;
font-size: 16px;
margin-bottom: 80px;
}
.sec-tital{
  text-align: center;
}
/* skills sction style */
.skill-container{
  display: flex;
  gap: 24px; 
}
.skill{
  padding: 30px;
  box-shadow: 0 6px 48px #F1F1F1;
}

/* resume style */
.resume-container{
  display: flex;
  gap: 24px;
}
.experience-description{
  color: #757575;
  font-size: 14px;
}
.experience-sub-title{
  font-size: 18px;
  color: #757575;
  font-weight:600;
  margin-bottom: 17px;
}
.resume hr{
  margin: 20px 0;
}
.resume-button{
  text-align: center;
  margin: 25px;
}

/* footer style */
.footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}

.form{
  height: 60px;
  border-radius: 6px;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  font-size: 16px;
  border: none;
}